{% extends "main_template.html"%}

<title>문제 작성</title>

{% block main_container %}
<h2>—------- 설문 문제와 선택지 리스트 —----------------
</h2>
<!-- 검색 항목 추가 필요 -->
<form action="">
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Question</th>
                <th>Answer</th>
                <th>Score</th>
                <th>Choices</th>
            </tr>
        </thead>
        <tbody>
            <tr>
            {% for problem in problems %}

                <td>{{problem.question}}</td>
                <td>{{problem.answer}}</td>
                <td>{{problem.score}}</td>
            {% endfor %}

                <td>   
                    {% for choice in choices %}
                    <select class="form-select" id="sel1" name="sellist1">
                    <option value="Option1">1. {{choice.choice1}}</option>
                    <option value="Option2">2. {{choice.choice2}}</option>
                    <option value="Option3">3. {{choice.choice3}}</option>
                    <option value="Option4">4. {{choice.choice4}}</option>
                </select>
                {% endfor %}
            </td>
            </tr>
            
        </tbody>
    </table>
</form>

{% endblock %}

